<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Travel Adventure</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/aboutus.css" />
  </head>

  <body>
    <%- include('partials/nav') %>
    <div class="banner" id="bannerid">
     
      <div class="info">
        <h3>About us</h3>
        <p>
          "Embark on a journey with us, where every adventure is a story waiting
          to be written."
        </p>
      </div>
    </div>
    <div class="info2">
      <img
        src="https://static.toiimg.com/photo/110226629.cms"
        id="hrteam_img"
        alt=""
      />
      <div class="hrteam_info">
        <h5>Welcome</h5>
        <p>
          Welcome to ExploreX, your ultimate travel companion designed to create unforgettable and personalized travel experiences.
 <br> <br>
 At ExploreX, we believe that every journey should be unique and tailored to your specific interests and preferences. Our innovative travel web application is crafted to make your travel planning seamless, enjoyable, and highly personalized. Whether you're an adventure seeker, a foodie, or someone who enjoys cultural explorations, ExploreX is here to make your travel dreams a reality.
        </p>
      </div>
    </div>
    <div class="info3">
      <div class="hrstory_info">
        <h5>Our Story</h5>
        <p>
          ExploreX is the creation of five passionate and tech-savvy third-year students from Techno India University, West Bengal. With a shared love for travel and technology, we embarked on a mission to revolutionize the way people plan their trips. Frustrated by the generic recommendations and time-consuming planning processes of existing travel apps, we set out to create a solution that truly understands and caters to individual preferences.
          
          
          <br><br>
          As third-year students, ExploreX represents a significant milestone
          in our academic journey and a testament to our teamwork and
          determination. Join us as we continue to refine and expand our website,
          empowering travelers to explore the world with confidence and ease.
        </p>
      </div>
      <img
        src="https://techsquadteam.com/assets/ckeditor-ckfinder-integration-master/uploads/images/2015-10-01-1443741927-8939890-10Dollarphotoclub_78596395.jpg"
        id="hrstory_img"
      />
    </div>
    <%- include('partials/footer') %><%  %>
    
  </body>
</html>
